*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
}
.box2{
    width: 300px;
    height: 300px;
    background-color: rgb(69, 19, 205);
    
}